body {
    background-image: url(img/bg.jpg);
    margin: 0;
    display: flex;
    justify-content: center;
    height: 50vh;
}
#todo-container {
    width: 350px;
    padding: 10px;
    border-radius: 8%;
}
#todo-list {
    list-style: none;
    padding: 0;
    color: blueviolet;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.todo-item input {
    margin-right:18px;
}
.todo-text {
    flex: 1;
    cursor: pointer;
    height: 20px;
}
.todo-text.completed {
    text-decoration: line-through;
}
.edit-todo{padding: 8px;
    background-color:rebeccapurple;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;

}
.delete-todo {
    padding: 8px;
    background-color: mediumvioletred;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;
}
.edit-todo:hover,
.delete-todo:hover {
    background-color: darkcyan;
}

.add-todo {
    margin-top: 20px;
    display: flex;
}
.add-todo input {
    flex: 1;
    padding: 20px;
    border-color: gray
    border-radius: 4px 0 0 4px;
    color: gray;
    border-width: 5px;
}
.add-todo button {
    padding: 14px;
    background-color: palevioletred;
    color: brown;
    border: none;
    border-radius: 0 4% 4px 0;
    cursor: pointer;
}
.add-todo button:hover {
    background-color:darkcyan;
}
h1 {
    text-align: left;
    color: black;
    font-style: italic;
    font-size: 45px;
    
    
}
h3{
    color:black;
    font-size: 25px;
}